/.devcontainer/**
/.github/**
/artifacts/
/.vs/

/.editorconfig
/.gitignore
/AsciiSharp.slnx
/CLAUDE.md
/docker-bake.hcl

**/bin/
**/obj/
**/TestResults/

**/*.log
**/*.binlog

**/*.user
launchSettings.json
