root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.diff]
insert_final_newline = unset
trim_trailing_whitespace = unset

[*.md]
trim_trailing_whitespace = false

[*.cs]
indent_size = 4

spelling_languages = en-us
spelling_checkable_types = identifiers,strings,comments
spelling_error_severity = warning
spelling_exclusion_path = exclude.dic
spelling_use_default_exclusion_dictionary = true

[*.{designer,g}.cs]
generated_code = true

charset = unset
end_of_line = unset
indent_size = 2unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[**/{.git,obj}/**/*]
generated_code = true

charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[packages.lock.json]
generated_code = true

charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
